@import './playlist/PlaylistHeader.css';
@import './playlist/ViewControls.css';
@import './playlist/TrackList.css';
@import './playlist/PlaylistSort.css';
@import './playlist/PlaylistActions.css';
@import './playlist/PlaylistModal.css';
@import './playlist/PlaylistTopSongs.css';

.playlist-view-container {
    padding-top: 60px;
}

.no-tracks-msg {
    padding: 20px;
    color: #888;
    text-align: center;
}