/* View Controls */
.view-controls {
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.view-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #ccc;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: all 0.2s;
}

.view-btn:hover,
.view-btn.active {
    background: white;
    color: black;
}